#!/usr/bin/env bash
# Used by https://direnv.net

# Automatically reload when this file changes
watch_file devshell.nix

# Load `nix develop`
use flake

# Extend the environment with per-user overrides
source_env_if_exists .envrc.private

# Register non secret environment variables
## Gandi openstack variables, see https://docs.gandi.net/en/cloud/vps/api/index.html
export OS_USER_DOMAIN_NAME=public
export OS_PROJECT_DOMAIN_NAME=public
export OS_AUTH_URL=https://keystone.sd6.api.gandi.net:5000/v3
export OS_IDENTITY_API_VERSION=3
