# direnv
.direnv/
.envrc.private

# nix
result
result~*

# sops
.decrypted*

# terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
provider_ovh.tf

# ansible
.ansible/
# Ignore roles with a dot in the name as they come from ansible-galaxy
ansible/roles/*.*/
